<nav>
  <div>
    <a href="/Clase18-front/autos.html">A</a>
    <button>B</button>
    <button>C</button>
    <image
      src="/Clase18-front/images/UTN_logo.jpg"
      height="50"
      width="50"
    ></image>
  </div>
</nav>
<script src="/js/nav.js"></script>
